* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.navbar {
	border-radius: 0;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="login"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.text-center .tname {
	text-align: left;
	margin-bottom: 20px;
	margin-top: 50px;
}

textarea {
	padding: 5px;
}

table {
	overflow: hidden;
}

tr:hover {
	background-color: #d8d8d8;
}

td,
th {
	position: relative;
}


td:hover::after,
th:hover::after {
	content: "";
	position: absolute;
	background-color: #d8d8d8;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -2;
}
table a {
	color: #000000;
	font-weight: bold;
}
.equal2::after {
	content: "";
	position: absolute;
	background-color: #f5e78e;
	left: -5000px;
	top: 0;
	height: 100%;
	width: 10000px;
	z-index: -3;
}

.more {
	background-color: #8ef5b2;
}

.less {
	background-color: #f58e8e;
}

.equal {
	background-color: #f5e78e;
}


.takenFine {
	background-color: #abfc6e;
}
.takenWrong {
	background-color: #fc856e;
}
.takenListeningFine {
	background-color: #01e8fd;
}
.takenListeningWrong {
	background-color: #c201fd;
}
.takenListening {
	background-color: #d2d0d0;
}



.navbar-form {
	margin: 8px 0;
}           
@media (max-width: 1200px) {
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: none;
}
